version: '3.3'

services:

  billingDB:
    image: mysql:8.0
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - mysql_db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: catty

  api:
    build: .
    ports:
      - "5001:5000"
    volumes:
      - ./in:/in
volumes:
  mysql_db:
    external: false